<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<main ng-controller="user-ctrl">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<strong class="card-title">Data Table</strong>
						</div>
						<div class="card-body">
							<div style="display : inline-block">
								Search : <input type="text" placeholder="Tìm kiếm" ng-model="searchText"/>
							</div>
							<div style="display : inline-block">
								Sort by :
								<select ng-model="sortColumn">
									<option value="+username">Username A->Z</option>
									<option value="-username">Username Z->A</option>
									<option value="+fullname">Tên A->Z</option>
									<option value="-fullname">Tên Z->A</option>
									<option value="+email">Email A->Z</option>
									<option value="-email">Email Z->A</option>
									<option value="+phone">Điện thoại</option>
									<option value="-accountVerified">Tài khoản hoạt động</option>
									<option value="+accountVerified">Tài khoản bị vô hiệu hóa</option>
								</select>
							</div>
							<table id="bootstrap-data-table" class="table table-bordered">
								<thead>
									<tr>
										<th>Tài khoản</th>
										<th>Họ tên</th>
										<th>Email</th>
										<th>Địa chỉ</th>
										<th>Số điện thoại</th>
										<th>Trạng thái</th>
										<th>Hành động</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in users | filter: searchText | orderBy: sortColumn | startFrom: currentPage*pageSize | limitTo: pageSize">
										<td>{{user.username}}</td>
										<td>{{user.fullname}}</td>
										<td>{{user.email}}</td>
										<td ng-if="!user.address">
											Không
										</td>
										<td ng-if="user.address">
											{{user.address}}
										</td>
										<td ng-if="!user.phone">
											Không
										</td>
										<td ng-if="user.phone">
											{{user.phone}}
										</td>
										<td>{{user.accountVerified  == true ? 'Hoạt động' : 'Vô hiệu hóa'}}</td>
										<td>
											<div class="btn-group btn-group-xs">
												<button class="btn btn-warning" ng-if="user.accountVerified == false" ng-click="activeUser(user.username)">Kích hoạt</button>
												<button class="btn btn-warning" ng-if="user.accountVerified == true" ng-click="disableUser(user.username)">Vô hiệu hóa</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel-footer text-center">
							<button ng-click="pagination()" class="btn btn-danger">
								First</button>
							<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage - 1" class="btn btn-primary">
								Previous</button>
							<button class="btn btn-success">{{currentPage + 1}}/{{numberOfPages()}}</button>
							<button ng-disabled="currentPage >= users.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary">
								Next</button>
							<button ng-click = "currentPage = numberOfPages() - 1" class="btn btn-danger">
								Last</button>
						</div>
					</div>
				</div>


			</div>
		</div>
	</main>
	<!-- .animated -->
</body>
</html>