<div xmlns:th="http://www.thymeleaf.org">
	<div class="header-top">
		<div class="container">
			<div class="header-right"
				style="position: relative; padding: 10px 10px;">
				<ul class="top-menu">
					<li>
						<ul class="top-menu-list">
							<li><a href=""><i class="icon-heart-o"></i>My
									Wishlist <span>(3)</span></a></li>
							<li><a href="">About Us</a></li>
							<li><a href="">Contact Us</a></li>
							<th:block sec:authorize="!isAuthenticated()">
								<li><a th:href="@{/login}"><i class="icon-user"></i>Login</a></li>
								<li><a th:href="@{/register}"><i class="icon-user"></i>Register</a></li>
							</th:block>

							<th:block sec:authorize="isAuthenticated()">
								<li>
									<div class="header-dropdown">
										<a id="username" th:text="'Xin chào, ' + ${#authentication.name}"></a>
										<div class="header-menu">
											<ul class="header-list">
												<li><a th:href="@{/admin}">Admin dashboard</a></li>
												<li><a href="#">Thông tin tài khoản</a></li>
												<li><a th:href="@{/order/history}">Lịch sử đặt hàng</a></li>
												<li><a th:href="@{/logout}">Đăng xuất</a></li>
											</ul>
										</div>
										<!-- End .header-menu -->
									</div>
								</li>
							</th:block>
						</ul>
					</li>
				</ul>
				<!-- End .top-menu -->
			</div>
			<!-- End .header-right -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .header-top -->

	<div class="header-middle sticky-header">
		<div class="container">
			<div class="header-left">
				<button class="mobile-menu-toggler">
					<span class="sr-only">Toggle mobile menu</span> <i
						class="icon-bars"></i>
				</button>

				<a th:href=@{/home} class="logo"> <img
					th:src="@{/assets/images/demos/demo-10/logo.png}" alt="Molla Logo"
					width="105" height="25">
				</a>
			</div>
			<!-- End .header-left -->

			<div class="header-right">
				<nav class="main-nav">
					<ul class="menu sf-arrows" style="margin-right: 50px">
						<li class="megamenu-container"><a th:href="@{/home}"
							class="sf-with" style="padding-right: 1rem;">Trang trủ</a>
						<li><a href="" class="sf-with" style="padding-right: 0rem;">Giới thiệu</a></li>
						<li><a href="" class="sf-with-ul">Danh mục</a>
							<ul>
								<li th:each="category : ${categories}"><a th:href="@{|/product/list?cid=${category.id}|}"  style="font-size : 15px;">[[${category.name}]]</a></li>
							</ul>
						</li>
						<li><a th:href="@{/product/list}" class="sf-with" style="padding-right: 0rem;">Sản phẩm</a></li>
						<li><a href="" class="sf-with" style="padding-right: 0rem;">Liên hệ</a></li>
					</ul>
					<!-- End .menu -->
				</nav>
				<!-- End .main-nav -->

				<div class="header-search">
					<a href="#" class="search-toggle" role="button"><i
						class="icon-search"></i></a>
					<form action="#" method="get">
						<div class="header-search-wrapper">
							<label for="q" class="sr-only">Search</label> <input
								type="search" class="form-control" name="q" id="q"
								placeholder="Search in..." required>
						</div>
						<!-- End .header-search-wrapper -->
					</form>
				</div>
				<!-- End .header-search -->

				<div class="dropdown cart-dropdown">
					<a href="#" class="dropdown-toggle" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						data-display="static"> <i class="icon-shopping-cart"></i> <span
						class="cart-count">{{cart.count}}</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right"
						ng-if="cart.count > 0">
						<div class="dropdown-cart-products">
							<div class="product" ng-repeat="item in cart.items">
								<div class="product-cart-details">
									<h4 class="product-title">
										<a th:href="@{|/product/detail/{{item.id}}|}">{{item.name}}</a>
									</h4>

									<span class="cart-product-info"> <span
										class="cart-product-qty">{{item.qty}}</span> x {{item.price |
										number}} VNĐ
									</span>
								</div>
								<!-- End .product-cart-details -->

								<figure class="product-image-container">
									<a th:href="@{/product/detail/{{item.id}}}"
										class="product-image"> <img
										th:src="@{|/assets/images/products/{{item.image1}}|}"
										alt="product">
									</a>
								</figure>
								<a th:attr="ng-click=@{|cart.remove(item.id)|}"
									class="btn-remove" title="Remove Product"><i
									class="icon-close"></i></a>
							</div>
							<!-- End .product -->
						</div>

						<div class="dropdown-cart-total">
							<span>Total</span> <span class="cart-total-price">{{cart.amount
								| currency:'':0}} VNĐ</span>
						</div>
						<!-- End .dropdown-cart-total -->

						<div class="dropdown-cart-action">
							<a th:href="@{/cart}" class="btn btn-primary">View Cart</a> 
							<a th:href="@{/checkout}" class="btn btn-outline-primary-2"><span>Checkout</span>
							<i class="icon-long-arrow-right"></i></a>
						</div>
						<!-- End .dropdown-cart-total -->
					</div>

					<div class="dropdown-menu dropdown-menu-right"
						ng-if="cart.count == 0">
						<div class="dropdown-cart-products">
							<div class="product">
								<div class="dropdown-cart-products">
									<div>
									<h1 style="font-size : 20px;">
										Bạn chưa có sản phẩm trong giỏ hàng.
									</h1>
								</div>
								</div>

							</div>
						</div>



						<div class="dropdown-cart-total">
							<span>Total</span> <span class="cart-total-price">{{cart.amount
								| currency:'':0}} VNĐ</span>
						</div>
						<!-- End .dropdown-cart-total -->

						<div class="dropdown-cart-action">
							<a th:href="@{/cart}" class="btn btn-primary">View Cart</a> 
							<button th:href="@{/checkout}" class="btn btn-primary" disabled><span>Checkout</span><i
								class="icon-long-arrow-right"></i></button>
						</div>
						<!-- End .dropdown-cart-total -->
					</div>
					<!-- End .dropdown-menu -->
				</div>
				<!-- End .cart-dropdown -->
			</div>
			<!-- End .header-right -->
		</div>
		<!-- End .container -->
	</div>
	<!-- End .header-middle -->
</div>
