<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Cửa hàng thể thao</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/images/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/images/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/assets/images/icons/site.html}">
    <link rel="mask-icon" th:href="@{/assets/images/icons/safari-pinned-tab.svg}" color="#666666">
    <link rel="shortcut icon" th:href="@{/assets/images/icons/favicon.ico}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/plugins/nouislider/nouislider.css}">
    
    <link rel="stylesheet" th:href="@{/assets/css/skins/skin-demo-10.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
    	@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");
		
		.sticky-header.fixed.header-middle .menu>li>a {
			padding-top: 4rem;
			padding-bottom: 3.1rem
		}
		
		.sticky-header.fixed.header-middle .menu>li>a:after {
			top: 55%
		}
		
		.header.header-8 .logo {
			margin-top: 3.7rem;
			margin-bottom: 3.1rem
		}
		
		.header.header-8 .menu>li>a {
			padding-top: 4rem;
			padding-bottom: 3.1rem
		}
		
		.header.header-8 .menu>li>a:after {
			top: 55%
		}
		
		.header.header-8 .header-top {
			background-color: #fff
		}
		
		.header.header-8 .header-top a {
			color: #777;
			text-transform: uppercase;
			font-size: 1.3rem;
			font-weight: 300
		}
		
		.header.header-8 .header-top a:hover, .header.header-8 .header-top a:focus
			{
			color: #445f84
		}
		
		.header.header-8 .header-middle .container::after, .header.header-8 .header-middle .container-fluid::after
			{
			content: '';
			position: absolute;
			left: 1rem;
			right: 1rem;
			top: 0;
			height: .1rem;
			background-color: #ebebeb
		}
		
		/* .header.header-8 .top-menu li+li {
			margin-left: 2.5rem
		} */
		
		.header.header-8 .header-search .header-search-wrapper {
			top: 60%;
			display: none
		}
		
		.header.header-8 .header-search .header-search-wrapper.show {
			display: flex
		}
		
		.header.header-8 .header-dropdown+.header-dropdown {
			margin-left: 3rem
		}
		
		.header.header-8 .cart-dropdown {
			padding-top: .8rem
		}
		
		.header.header-8 .header-search, .header.header-8 .mobile-menu-toggler {
			padding-top: 1.2rem
		}
		
		.header.header-8 .top-menu:not(.top-link-menu) ul {
			min-width: 180px
		}
		
		.title-lg {
			font-weight: 400
		}
		
		.heading.heading-center .title-lg {
			margin-bottom: 1.4rem
		}
		
		
		@media screen and (max-width: 479px) {
			.intro-slider-container:before, .intro-slider .slide-image:before {
				padding-top: 83.3333333333%
			}
		}
		
		
		@media screen and (min-width: 576px) {
			.products [class*=col-] {
				border-right: .1rem solid #eee
			}
			.products [class*=col-]:nth-child(2n) {
				border-right-width: 0
			}
			.cta .input-group {
				background-color: #f4f4f4
			}
			.cta-horizontal .btn:not(.btn-block) {
				min-width: 270px
			}
		}
		
		@media screen and (min-width: 768px) {
			.intro-subtitle {
				margin-bottom: 1rem
			}
			.intro-price {
				font-size: 2.4rem;
				margin-bottom: 1.8rem
			}
			.products [class*=col-]:nth-child(2n) {
				border-right-width: .1rem
			}
			.products [class*=col-]:nth-child(3n) {
				border-right-width: 0
			}
			.cta-horizontal {
				padding-left: 5rem;
				padding-right: 5rem
			}
			.banner-group .banner-large .banner-content {
				left: 7rem
			}
			.banner-group .banner-middle .banner-content {
				left: 5rem
			}
		}
		
		@media screen and (min-width: 992px) {
			.intro-slider.owl-simple.owl-nav-inside .owl-dots {
				bottom: 30px
			}
			.intro-content .btn {
				min-width: 150px
			}
			.intro-subtitle {
				margin-bottom: 1.4rem
			}
			.intro-title {
				font-size: 5.2rem
			}
			.intro-price {
				font-size: 2.8rem;
				margin-bottom: 2.3rem
			}
			.products [class*=col-]:nth-child(3n) {
				border-right-width: .1rem
			}
			.products [class*=col-]:nth-child(4n) {
				border-right-width: 0
			}
			.cta-horizontal {
				padding-left: 7rem;
				padding-right: 7rem
			}
		}
		
		@media screen and (min-width: 1200px) {
			.intro-content .btn {
				min-width: 170px
			}
			.intro-price {
				font-size: 3rem
			}
			.products [class*=col-]:nth-child(4n) {
				border-right-width: .1rem
			}
			.products [class*=col-]:nth-child(5n) {
				border-right-width: 0
			}
		}
		
		@media screen and (min-width: 1200px) {
			.header-8 .main-nav {
				margin-right: 35.5rem
			}
		}
    </style>
</head>

<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
    <div class="page-wrapper">
        <header class="header header-8">
            <div th:replace="~{client/layout/header}"></div>
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Product list</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                				<form th:action="@{/product/list}">
                					<div class="header-search-wrapper">
	                					<div class="header-search-wrapper">
											<label for="q" class="sr-only">Search</label> 
											<input type="search" class="form-control" name="keyword" id="keyword" th:value="${keyword}" placeholder="Search in..." required>
										</div>
									</div>
								</form>
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="popularity" selected="selected">Most Popular</option>
												<option value="rating">Most Rated</option>
												<option value="date">Date</option>
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="product product-list" th:each="p:${items}">
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">
                                                <a th:href="@{|/product/detail/${p.id}|}">
                                                    <img th:src="@{|/assets/images/products/${p.image1}|}" alt="Product image" class="product-image">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            <div class="product-list-action">
                                                <div class="product-price">
                                                    [[*{#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 1 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-action">
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    <a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                                                </div><!-- End .product-action -->

                                                <a th:attr="ng-click=@{|cart.add(${p.id})|}" class="btn-product btn-cart" style="cursor: pointer;"><span>add to cart</span></a>
                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">
                                                <a href="#" class="btn-product btn-wishlist" title="Add to wishlist" style="right: -5px;"><span>add to wishlist</span></a>
                                                <div class="product-cat">
                                                    <a th:href="@{|/product/list?cid=${p.category.id}|}" th:text="${p.category.name}"></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a></h3><!-- End .product-title -->

                                                <div class="product-content">
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque </p>
                                                </div><!-- End .product-content -->                                               
                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .product -->
                            </div><!-- End .products -->

                			<nav aria-label="Page navigation" th:if="${items.totalPages > 1}">
							    <ul class="pagination">
							        <li class="page-item disabled"  th:if="${currentPage == 1}">
							            <a class="page-link page-link-prev" href="#" aria-label="Previous" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							        <li class="page-item" th:if="${currentPage > 1 and cid == null}">
							            <a class="page-link page-link-prev" th:href="@{'/product/list/' + ${currentPage - 1}}" aria-label="Previous" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							        <li class="page-item" th:if="${currentPage > 1 and cid != null}">
							            <a class="page-link page-link-prev" th:href="@{|/product/list/${currentPage - 1}?cid=${cid}|}" aria-label="Previous" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							        <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item"><a class="page-link" th:if="${cid} == null" th:href="@{|/product/list/${i}|}">[[${i}]]</a></li>
							        <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item"><a class="page-link" th:if="${cid} != null" th:href="@{|/product/list/${i}?cid=${cid}|}">[[${i}]]</a></li>
							        <li class="page-item disabled" th:if="${currentPage == totalPages}">
							            <a class="page-link page-link-next" href="#" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							        <li class="page-item" th:if="${currentPage < totalPages and cid == null}">
							            <a class="page-link page-link-next" th:href="@{'/product/list/' + ${currentPage + 1}}" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							        <li class="page-item" th:if="${currentPage < totalPages and cid != null}">
							            <a class="page-link page-link-next" th:href="@{|/product/list/${currentPage + 1}?cid=${cid}|}" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-1">
														<label class="custom-control-label" for="cat-1">Dresses</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">3</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-2">
														<label class="custom-control-label" for="cat-2">T-shirts</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">0</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-3">
														<label class="custom-control-label" for="cat-3">Bags</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">4</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-4">
														<label class="custom-control-label" for="cat-4">Jackets</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">2</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-5">
														<label class="custom-control-label" for="cat-5">Shoes</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">2</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-6">
														<label class="custom-control-label" for="cat-6">Jumpers</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">1</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-7">
														<label class="custom-control-label" for="cat-7">Jeans</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">1</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-8">
														<label class="custom-control-label" for="cat-8">Sportwear</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">0</span>
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
									        Size
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-2">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-1">
														<label class="custom-control-label" for="size-1">XS</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-2">
														<label class="custom-control-label" for="size-2">S</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" checked id="size-3">
														<label class="custom-control-label" for="size-3">M</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" checked id="size-4">
														<label class="custom-control-label" for="size-4">L</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-5">
														<label class="custom-control-label" for="size-5">XL</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-6">
														<label class="custom-control-label" for="size-6">XXL</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
									        Colour
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-3">
										<div class="widget-body">
											<div class="filter-colors">
												<a href="#" style="background: #b87145;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #f0c04a;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #333333;"><span class="sr-only">Color Name</span></a>
												<a href="#" class="selected" style="background: #cc3333;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #3399cc;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #669933;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #f2719c;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #ebebeb;"><span class="sr-only">Color Name</span></a>
											</div><!-- End .filter-colors -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
									        Brand
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-4">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-1">
														<label class="custom-control-label" for="brand-1">Next</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-2">
														<label class="custom-control-label" for="brand-2">River Island</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-3">
														<label class="custom-control-label" for="brand-3">Geox</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-4">
														<label class="custom-control-label" for="brand-4">New Balance</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-5">
														<label class="custom-control-label" for="brand-5">UGG</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-6">
														<label class="custom-control-label" for="brand-6">F&F</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-7">
														<label class="custom-control-label" for="brand-7">Nike</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        Price
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price">
                                                <div class="filter-price-text">
                                                    Price Range:
                                                    <span id="filter-price-range"></span>
                                                </div><!-- End .filter-price-text -->

                                                <div id="price-slider"></div><!-- End #price-slider -->
                                            </div><!-- End .filter-price -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer footer-dark">
            <div th:replace="~{client/layout/footer}"></div>	
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


	<script th:src="@{/assets/client/shopping-cart-app.js}"></script>
    <!-- Plugins JS File -->
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/assets/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/assets/js/superfish.min.js}"></script>
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/wNumb.js}"></script>
    <script th:src="@{/assets/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/assets/js/nouislider.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>
    
</body>


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
</html>