<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main ng-controller="product-ctrl" id="edit">
		<form class="row">
			<div class="col-lg-6">
				<div class="img-tables-basic-1"
					style="cursor: pointer; width: 300px;">
					<img ng-src="{{'/assets/images/products/' + form.items[0].image1}}"
						class="img-thumbnail"/> <input
						type="file" class="form-control form-control-sm" id="image"
						onchange="angular.element(this).scope().imageChanged1(this.files)">
				</div>
				<div class="img-tables-basic-2" style="margin-top: 10px;">
					<div class="row">
						<div class="col-lg-4" style="cursor: pointer;">
							<img ng-src="{{'/assets/images/products/' + form.items[0].image2}}"
								class="img-thumbnail"/> <input
								type="file" class="form-control form-control-sm" id="image"
								onchange="angular.element(this).scope().imageChanged2(this.files)">
						</div>
						<div class="col-lg-4" style="cursor: pointer;">
							<img ng-src="{{'/assets/images/products/' + form.items[0].image3}}"
								class="img-thumbnail"/> <input
								type="file" class="form-control form-control-sm" id="image"
								onchange="angular.element(this).scope().imageChanged3(this.files)">
						</div>
						<div class="col-lg-4" style="cursor: pointer;">
							<img ng-src="{{'/assets/images/products/' + form.items[0].image4}}"
								class="img-thumbnail"/> <input
								type="file" class="form-control form-control-sm" id="image"
								onchange="angular.element(this).scope().imageChanged4(this.files)">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<label for="exampleInputEmail1">Tên Sản Phẩm</label> <input
						type="text" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Nhập tên"
						ng-model="form.items[0].name">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Chọn Danh Mục</label> 
					<select id="inputState" ng-model="form.items[0].category.id" class="form-control">
						<option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Giá (VNĐ)</label> <input
						type="text" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Nhập giá"
						ng-model="form.items[0].price">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Số Lượng</label> <input type="text"
						class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Nhập số lượng"
						ng-model="form.items[0].stock">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Giảm Giá</label> <input type="text"
						class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Nhập giảm giá (%)"
						ng-model="form.items[0].discount">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Mô Tả</label>
					<textarea class="form-control" rows="5" id="comment"
						ng-model="form.items[0].description"></textarea>
				</div>
				<div class="panel-footer text-center">
					<button ng-click="create()" class="btn btn-primary">
						<b class="glyphicon glyphicon-plus"></b>Create
					</button>
					<button ng-click="update()" class="btn btn-success">
						<b class="glyphicon glyphicon-save"></b>Update
					</button>
					<button ng-click="delete(form.items[0])" class="btn btn-danger">
						<b class="glyphicon glyphicon-trash"></b>Delete
					</button>
					<button ng-click="reset()" class="btn btn-info">
						<b class="glyphicon glyphicon-refresh"></b>Reset
					</button>
				</div>
			</div>
		</form>
	</main>
</body>
</html>