<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<main ng-controller="product-ctrl">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<strong class="card-title">Data Table</strong>
						</div>
						<div class="card-body">
							<div style="display : inline-block">
								Search : <input type="text" placeholder="Tìm kiếm" ng-model="searchText"/>
							</div>
							<div style="display : inline-block">
								Sort by :
								<select ng-model="sortColumn">
									<option value="+id">ID</option>
									<option value="+name">Tên</option>
									<option value="+category.name">Danh mục</option>
									<option value="+stock">Số lượng thấp -> cao</option>
									<option value="-stock">Số lượng cao -> thấp</option>
									<option value="+price">Giá thấp -> cao</option>
									<option value="-price">Giá cao -> thấp</option>
									<option value="+discount">Discount</option>
								</select>
							</div>
							<table id="bootstrap-data-table" class="table table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tên</th>
										<th>Danh mục</th>
										<th>Size</th>
										<th>Số lượng</th>
										<th>Giá</th>
										<th>Discount</th>
										<th>description</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in items | filter: searchText | orderBy: sortColumn | startFrom: currentPage*pageSize | limitTo: pageSize">
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>{{item.category.name}}</td>
										<td>{{item.size}}</td>
										<td>{{item.stock}}</td>
										<td>{{item.price | number}} VNĐ</td>
										<td>{{item.discount}}%</td>
										<td>{{item.description}}</td>
										<td>
											<div class="btn-group btn-group-xs">
												<button ng-click="form.add(item.id)"
													class="btn btn-warning glyphicon glyphicon-edit"></button>
												<button ng-click="delete(item)"
													class="btn btn-warning glyphicon glyphicon-trash"></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel-footer text-center">
							<button ng-click="pagination()" class="btn btn-danger">
								First</button>
							<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage - 1" class="btn btn-primary">
								Previous</button>
							<button class="btn btn-success">{{currentPage + 1}}/{{numberOfPages()}}</button>
							<button ng-disabled="currentPage >= items.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary">
								Next</button>
							<button ng-click = "currentPage = numberOfPages() - 1" class="btn btn-danger">
								Last</button>
						</div>
					</div>
				</div>


			</div>
		</div>
	</main>
	<!-- .animated -->
</body>
</html>