<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<main ng-controller="product-ctrl">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<strong class="card-title">Data Table</strong>
						</div>
						<div class="card-body">
							<table id="bootstrap-data-table" class="table table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tên</th>
										<th>Danh mục</th>
										<th>Size</th>
										<th>Số lượng</th>
										<th>Giá</th>
										<th>Discount</th>
										<th>description</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in pager.items">
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>{{item.category.name}}</td>
										<td>{{item.size}}</td>
										<td>{{item.stock}}</td>
										<td>{{item.price | number}} VNĐ</td>
										<td>{{item.discount}}%</td>
										<td>{{item.description}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel-footer text-center">
							<button ng-click="pager.first()" class="btn btn-danger">
								First
							</button>
							<button ng-click="pager.prev()" class="btn btn-primary">
								Previous
							</button>
							<button class="btn btn-success">{{pager.page + 1}} of
								{{pager.count}}</button>
							<button ng-click="pager.next()" class="btn btn-primary">
								Next
							</button>
							<button ng-click="pager.last()" class="btn btn-danger">
								Last
							</button>
						</div>
					</div>
				</div>


			</div>
		</div>
	</main>
	<!-- .animated -->
</body>
</html>