<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<main ng-controller="category-ctrl">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<strong class="card-title">Data Table</strong>
						</div>
						<div class="card-body">
							<div style="display : inline-block">
								Search : <input type="text" placeholder="Tìm kiếm" ng-model="searchText"/>
							</div>
							<div style="display : inline-block">
									Sort by :
									<select ng-model="sortColumn">
										<option value="+id">ID</option>
										<option value="+name">Tên</option>
									</select>
								</div>
							<table id="bootstrap-data-table" class="table table-bordered">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tên</th>
										<th>Icon</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in category | filter: searchText | orderBy:sortColumn | startFrom: currentPage*pageSize | limitTo: pageSize">
										<td>{{item.id}}</td>
										<td>{{item.name}}</td>
										<td>{{item.icon}}</td>
										<td>
											<div class="btn-group btn-group-xs">
												<button ng-click="formCategory.add(item.id)"
													class="btn btn-warning glyphicon glyphicon-edit"></button>
												<button ng-click="delete(item)"
													class="btn btn-warning glyphicon glyphicon-trash"></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel-footer text-center">
							<button ng-click="pagination()" class="btn btn-danger">
								First</button>
							<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage - 1" class="btn btn-primary">
								Previous</button>
							<button class="btn btn-success">{{currentPage + 1}}/{{numberOfPages()}}</button>
							<button ng-disabled="currentPage >= category.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-primary">
								Next</button>
							<button ng-click = "currentPage = numberOfPages() - 1" class="btn btn-danger">
								Last</button>
						</div>
					</div>
				</div>


			</div>
		</div>
	</main>
	<!-- .animated -->
</body>
</html>